In [1]:
import pandas as pd
data=pd.read_excel('Bonus_sheet.xlsx')
print(data)

   Bonus % Country       City  Exit Date
0     0.15      US   New york 2021-10-16
1     0.00   China    Beijing        NaT
2     0.20      US      Texas        NaT
3     0.07      US    Chicago        NaT
4     0.00   Nepal  kathmandu        NaT

In [ ]:
#if bonus is 0 then new column named GetBonus is made 
#and values are assigned simultaneously
data.loc[(data['Bonus %']==0,'GetBonus')]='no bonus'
data.loc[(data['Bonus %']>0,'GetBonus')]='bonus'
print(data)

   Bonus % Country       City  Exit Date  GetBonus GettBonus
0     0.15      US   New york 2021-10-16     bonus     bonus
1     0.00   China    Beijing        NaT  no bonus       NaN
2     0.20      US      Texas        NaT     bonus     bonus
3     0.07      US    Chicago        NaT     bonus     bonus
4     0.00   Nepal  kathmandu        NaT  no bonus       NaN

In [38]:
#new data set
data=pd.read_excel('name.xlsx')
print(data)
print()
#Making new column named Full Name where fname and lname are 
#  concatenated

#.str.upper()==> Makes the string in the data in Upper case
data['Fullname']=data['Fname'].str.upper()+' '+data['Lname'].str.upper()

print(data)

  emp id    Fname     Lname
0   Emp1     hari  parajuli
1   Emp2    seeta   chalise
2   Emp3  balaram    sharma
3   Emp4    aurag  srinivas

  emp id    Fname     Lname        Fullname
0   Emp1     hari  parajuli   HARI PARAJULI
1   Emp2    seeta   chalise   SEETA CHALISE
2   Emp3  balaram    sharma  BALARAM SHARMA
3   Emp4    aurag  srinivas  AURAG SRINIVAS