In [1]:
import pandas as pd # type: ignore
data=pd.read_excel('Book1.xlsx')
print(data)

   S.N     NAME  SALARY       PHONE
0    1    Bimal   50000  9837473647
1    2   Sedeep    5000  9842259391
2    3    samir   40000  9847045135
3    4    kisna   50090  9851830879
4    5  haraman   34560  9856616623
5    6  ranjeet   36805  9861402367
6    7   subash  100000  9866188111
7    8   bikash  120000  9870973855
8    9  niramla   30000  9875759599

In [3]:
#Helps to know information about given data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S.N     9 non-null      int64
 1   NAME    9 non-null      object
 2   SALARY  9 non-null      int64
 3   PHONE   9 non-null      int64
dtypes: int64(3), object(1)
memory usage: 420.0+ bytes
None

In [4]:
data.describe()

            S.N         SALARY         PHONE
count  9.000000       9.000000  9.000000e+00
mean   5.000000   51828.333333  9.856617e+09
std    2.738613   35894.680142  1.310630e+07
min    1.000000    5000.000000  9.837474e+09
25%    3.000000   34560.000000  9.847045e+09
50%    5.000000   40000.000000  9.856617e+09
75%    7.000000   50090.000000  9.866188e+09
max    9.000000  120000.000000  9.875760e+09

In [5]:
#Checks wheather the data is null or not
print(data.isnull())

     S.N   NAME  SALARY  PHONE
0  False  False   False  False
1  False  False   False  False
2  False  False   False  False
3  False  False   False  False
4  False  False   False  False
5  False  False   False  False
6  False  False   False  False
7  False  False   False  False
8  False  False   False  False

In [6]:
print(data.isnull().sum())

S.N       0
NAME      0
SALARY    0
PHONE     0
dtype: int64