In [4]:
import pandas as pd # type: ignore
data=pd.read_excel('name2.xlsx')
print(data)

     Fname     Lname  salary emp id
0     hari  parajuli   40000   Emp1
1    seeta   chalise   50000   Emp2
2  balaram    sharma   34000   Emp3
3    aurag  srinivas   27000   Emp4

In [14]:
#Gives count of salary on the base of emp id
gp=data.groupby('emp id').agg({"salary":'count'})
print(gp)

        salary
emp id
Emp1         1
Emp2         1
Emp3         1
Emp4         1

In [17]:
data=pd.read_excel('SaleData.xlsx')
print(data)

    OrderDate   Region  Manager   SalesMan          Item   Units  Unit_price  \
0  2018-01-06     East   Martha  Alexander    Television   95.00    1198.000
1  2018-01-23  Central  Hermann     Shelli  Home Theater   50.00     500.000
2  2018-02-09  Central  Hermann       Luis    Television   36.00    1198.000
3  2018-02-26  Central  Timothy      David    Cell Phone   27.00     225.000
4  2018-03-15     West  Timothy    Stephen    Television   56.00    1198.000
5  2018-04-01     East   Martha  Alexander  Home Theater   60.00     500.000
6  2018-04-18  Central   Martha     Steven    Television   75.00    1198.000
7  2018-05-05  Central  Hermann       Luis    Television   90.00    1198.000
8  2018-05-22     West  Douglas    Michael    Television   32.00    1198.000
9  2018-06-08     East   Martha  Alexander  Home Theater   60.00     500.000
10 2018-06-25  Central  Hermann      Sigal    Television   90.00    1198.000
11 2018-07-12     East   Martha      Diana  Home Theater   29.00     500.000
12 2018-07-29     East  Douglas      Karen  Home Theater   81.00     500.000
13 2018-08-15     East   Martha  Alexander    Television   35.00    1198.000
14 2018-09-01  Central  Douglas       John          Desk    2.00     125.000
15 2018-09-18     East   Martha  Alexander   Video Games   16.00      58.500
16 2018-10-05  Central  Hermann      Sigal  Home Theater   28.00     500.000
17 2018-10-22     East   Martha  Alexander    Cell Phone   64.00     225.000
18 2018-11-08     East  Douglas      Karen    Cell Phone   15.00     225.000
19 2018-11-25  Central  Hermann     Shelli   Video Games   96.00      58.500
20 2018-12-12  Central  Douglas       John    Television   67.00    1198.000
21 2018-12-29     East  Douglas      Karen   Video Games   74.00      58.500
22 2019-01-15  Central  Timothy      David  Home Theater   46.00     500.000
23 2019-02-01  Central  Douglas       John  Home Theater   87.00     500.000
24 2019-02-18     East   Martha  Alexander  Home Theater    4.00     500.000
25 2019-03-07     West  Timothy    Stephen  Home Theater    7.00     500.000
26 2019-03-24  Central  Hermann       Luis   Video Games   50.00      58.500
27 2019-04-10  Central   Martha     Steven    Television   66.00    1198.000
28 2019-04-27     East   Martha      Diana    Cell Phone   96.00     225.000
29 2019-05-14  Central  Timothy      David    Television   53.00    1198.000
30 2019-05-31  Central  Timothy      David  Home Theater   80.00     500.000
31 2019-06-17  Central  Hermann     Shelli          Desk    5.00     125.000
32 2019-07-04     East   Martha  Alexander   Video Games   62.00      58.500
33 2019-07-21  Central  Hermann      Sigal   Video Games   55.00      58.500
34 2019-08-07  Central  Hermann     Shelli   Video Games   42.00      58.500
35 2019-08-24     West  Timothy    Stephen          Desk    3.00     125.000
36 2019-09-10  Central  Timothy      David    Television    7.00    1198.000
37 2019-09-27     West  Timothy    Stephen    Cell Phone   76.00     225.000
38 2019-10-14     West  Douglas    Michael  Home Theater   57.00     500.000
39 2019-10-31  Central   Martha     Steven    Television   14.00    1198.000
40 2019-11-17  Central  Hermann       Luis  Home Theater   11.00     500.000
41 2019-12-04  Central  Hermann       Luis  Home Theater   94.00     500.000
42 2019-12-21  Central   Martha     Steven  Home Theater   28.00     500.000
43        NaT      NaN      NaN        NaN           NaN  278.00    1125.000
44        NaT      NaN      NaN        NaN           NaN   34.75     140.625

     Sale_amt
0   113810.00
1    25000.00
2    43128.00
3     6075.00
4    67088.00
5    30000.00
6    89850.00
7   107820.00
8    38336.00
9    30000.00
10  107820.00
11   14500.00
12   40500.00
13   41930.00
14     250.00
15     936.00
16   14000.00
17   14400.00
18    3375.00
19    5616.00
20   80266.00
21    4329.00
22   23000.00
23   43500.00
24    2000.00
25    3500.00
26    2925.00
27   79068.00
28   21600.00
29   63494.00
30   40000.00
31     625.00
32    3627.00
33    3217.50
34    2457.00
35     375.00
36    8386.00
37   17100.00
38   28500.00
39   16772.00
40    5500.00
41   47000.00
42   14000.00
43   62550.00
44    7818.75

In [26]:
#Data calculated for the units sold on the basis of Region 
gb=data.groupby(['Region']).agg({'Units':'count'})
print(gb)

         Units
Region
Central     24
East        13
West         6

In [27]:
#Region further divided into Managers to covers units of each manager 
gb=data.groupby(['Region','Manager']).agg({'Units':'count'})
print(gb)

                 Units
Region  Manager
Central Douglas      3
        Hermann     12
        Martha       4
        Timothy      5
East    Douglas      3
        Martha      10
West    Douglas      2
        Timothy      4

In [29]:
#Futher classified on the basis of Salesman
gb=data.groupby(['Region','Manager','SalesMan']).agg({'Units':'count'})
print(gb)

                           Units
Region  Manager SalesMan
Central Douglas John           3
        Hermann Luis           5
                Shelli         4
                Sigal          3
        Martha  Steven         4
        Timothy David          5
East    Douglas Karen          3
        Martha  Alexander      8
                Diana          2
West    Douglas Michael        2
        Timothy Stephen        4

In [30]:
#Finding out the mean based on following areas
gb=data.groupby(['Region','Manager','SalesMan']).agg({'Units':'mean'})
print(gb)
#we can use other mathematical functions in the place of "mean"

                               Units
Region  Manager SalesMan
Central Douglas John       52.000000
        Hermann Luis       56.200000
                Shelli     48.250000
                Sigal      57.666667
        Martha  Steven     45.750000
        Timothy David      42.600000
East    Douglas Karen      56.666667
        Martha  Alexander  49.500000
                Diana      62.500000
West    Douglas Michael    44.500000
        Timothy Stephen    35.500000

In [35]:
#using multiple elements inside a  dictionary
gb=data.groupby(['Region','Manager','SalesMan']).agg({'Units':'min','Unit_price':['max','min']})
print(gb)

                          Units Unit_price
                            min        max    min
Region  Manager SalesMan
Central Douglas John        2.0     1198.0  125.0
        Hermann Luis       11.0     1198.0   58.5
                Shelli      5.0      500.0   58.5
                Sigal      28.0     1198.0   58.5
        Martha  Steven     14.0     1198.0  500.0
        Timothy David       7.0     1198.0  225.0
East    Douglas Karen      15.0      500.0   58.5
        Martha  Alexander   4.0     1198.0   58.5
                Diana      29.0      500.0  225.0
West    Douglas Michael    32.0     1198.0  500.0
        Timothy Stephen     3.0     1198.0  125.0