In [2]:
import pandas as pd
data=pd.read_excel('Dup.xlsx')
print(data)

   S.N     NAME    SALARY         PHONE
0    1    Bimal   50000.0  9.800000e+09
1    2   Sedeep    5000.0  9.804786e+09
2    3    samir   40000.0           NaN
3    4    kisna   50090.0  4.785744e+06
4    5    BImal       NaN  9.571488e+06
5    6  ranjeet   36805.0  1.435723e+07
6    7   subash  100000.0  1.914298e+07
7    8    Bimal  120000.0  9.800000e+09
8    9  niramla   30000.0  9.804786e+09

In [7]:
#checks wheather any value is repeated in given data
print(data["NAME"].duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
Name: NAME, dtype: bool

In [8]:
print(data["NAME"].duplicated().sum())
#There is only one duplicated value

1

In [ ]:
#Mainly we shouldnot check wheather name and other are repeated
# rather we should if the unique keys or id's are repeated or not

In [11]:
#Removes the repeated values or datas
print(data.drop_duplicates(["PHONE"]))

   S.N     NAME    SALARY         PHONE
0    1    Bimal   50000.0  9.800000e+09
1    2   Sedeep    5000.0  9.804786e+09
2    3    samir   40000.0           NaN
3    4    kisna   50090.0  4.785744e+06
4    5    BImal       NaN  9.571488e+06
5    6  ranjeet   36805.0  1.435723e+07
6    7   subash  100000.0  1.914298e+07