In [14]:
import pandas as pd
data1={"Emp id":["EO1","EO2","EO3","EO4","EO5","EO6"],
      "Name":['Ram','Shyam','Rahul',"Vishal","Ravi",'John'],
      "Age":[33,56,67,33,97,34]}
data2={"Emp id":["EO1","EO2","EO3","EO4","EO5","EO6"],
      'Salary':[45000,56000,32000,14000,90000,190000]
      }
df11=pd.DataFrame(data1)
print(df11)
print()
df22=pd.DataFrame(data2)
print(df22)

  Emp id    Name  Age
0    EO1     Ram   33
1    EO2   Shyam   56
2    EO3   Rahul   67
3    EO4  Vishal   33
4    EO5    Ravi   97
5    EO6    John   34

  Emp id  Salary
0    EO1   45000
1    EO2   56000
2    EO3   32000
3    EO4   14000
4    EO5   90000
5    EO6  190000

In [15]:
#Merging Twu Data frame
print(pd.merge(df11,df22))
#Helps to merge the data cells using the merge function

  Emp id    Name  Age  Salary
0    EO1     Ram   33   45000
1    EO2   Shyam   56   56000
2    EO3   Rahul   67   32000
3    EO4  Vishal   33   14000
4    EO5    Ravi   97   90000
5    EO6    John   34  190000

In [9]:
#WHat it data are very messy

#Here EO9 is there in d1 but is missingin d2
#By Printing those we might get an uneven results

d1={"Emp id":["EO1","EO2","EO3","EO4","EO9","EO6"],
      "Name":['Ram','Shyam','Rahul',"Vishal","Ravi",'John'],
      "Age":[33,56,67,33,97,34]}
d2={"Emp id":["EO1","EO8","EO3","EO4","EO5","EO6"],
      'Salary':[45000,56000,32000,14000,90000,190000]
      }
df1=pd.DataFrame(d1)
print()
df2=pd.DataFrame(d2)


#Printing the datas
#Selects only those datas having the same emp is in both d1 and d2
print(pd.merge(df1,df2))
print()
#But printing all od the data based on df1's EmpId
print(pd.merge(df1,df2,how='left'))

#EO1 has no link with salary so it prints NUll

  Emp id    Name  Age  Salary
0    EO1     Ram   33   45000
1    EO3   Rahul   67   32000
2    EO4  Vishal   33   14000
3    EO6    John   34  190000

  Emp id    Name  Age    Salary
0    EO1     Ram   33   45000.0
1    EO2   Shyam   56       NaN
2    EO3   Rahul   67   32000.0
3    EO4  Vishal   33   14000.0
4    EO9    Ravi   97       NaN
5    EO6    John   34  190000.0

In [12]:
#But printing all od the data based on df2's EmpId
print(pd.merge(df1,df2,how='right'))
#Prints data whih are in df2 linked in df1
#EO8,EO8 has no link with df1 name and age so it prints NUll

  Emp id    Name   Age  Salary
0    EO1     Ram  33.0   45000
1    EO8     NaN   NaN   56000
2    EO3   Rahul  67.0   32000
3    EO4  Vishal  33.0   14000
4    EO5     NaN   NaN   90000
5    EO6    John  34.0  190000

In [ ]:
#Small Note:
#Right and left in above conditions shows
#.merge(x,y)
#how="left" indicates x components element linked with y elements/data

#how="right" indicates y components element linked with x elements/data

In [87]:
#new
value1={"Emp id":["EO1","EO2","EO3","EO4","EO5","EO6"],
      "Name":['Ram','Shyam','Rahul',"Vishal","Ravi",'John'],
      "Age":[33,56,67,33,97,34]}
value2={"Emp id":["EO7","EO7","EO9","EO10","EO11","EO12"],
      "Name":['Rahul','shambhav','Sharthak',"Darshan","Biplove",'Fardeem'],
      "Age":[33,56,67,33,97,34]}
val1=pd.DataFrame(value1)
val2=pd.DataFrame(value2)

In [86]:
print(pd.concat([val1,val2]))

  Emp id      Name  Age
0    EO1       Ram   33
1    EO2     Shyam   56
2    EO3     Rahul   67
3    EO4    Vishal   33
4    EO5      Ravi   97
5    EO6      John   34
0    EO7     Rahul   33
1    EO7  shambhav   56
2    EO9  Sharthak   67
3   EO10   Darshan   33
4   EO11   Biplove   97
5   EO12   Fardeem   34