In [1]:
import pandas as pd # type: ignore
data=pd.read_excel('Dup.xlsx')
print(data)

   S.N     NAME    SALARY         PHONE
0    1    Bimal   50000.0  9.800000e+09
1    2   Sedeep    5000.0  9.804786e+09
2    3    samir   40000.0           NaN
3    4    kisna   50090.0  4.785744e+06
4    5    BImal       NaN  9.571488e+06
5    6  ranjeet   36805.0  1.435723e+07
6    7   subash  100000.0  1.914298e+07
7    8    Bimal  120000.0  9.800000e+09
8    9  niramla   30000.0  9.804786e+09

In [3]:
print(data.isnull().sum())

S.N       0
NAME      0
SALARY    1
PHONE     1
dtype: int64

In [8]:
#Deletes the row having any Null value
# print(data.dropna())

In [1]:
#replacing the null values
import numpy as np
# print(data.replace(np.nan,"IAmNull"))
print(data)

NameError: name 'data' is not defined

In [20]:
#If we add mean value in null place it will get work done
# and also doesnot affects the exisiting dataset
print(data['SALARY'].mean())
data['SALARY']=data['SALARY'].replace(np.nan,53986.875)
print(data['SALARY'].mean())

53986.875
53986.875

In [21]:
print(data)

   S.N     NAME      SALARY         PHONE
0    1    Bimal   50000.000  9.800000e+09
1    2   Sedeep    5000.000  9.804786e+09
2    3    samir   40000.000           NaN
3    4    kisna   50090.000  4.785744e+06
4    5    BImal   53986.875  9.571488e+06
5    6  ranjeet   36805.000  1.435723e+07
6    7   subash  100000.000  1.914298e+07
7    8    Bimal  120000.000  9.800000e+09
8    9  niramla   30000.000  9.804786e+09

In [29]:
#backwardfill
#fills the null from lower row element
print(data.fillna(method='bfill'))

print()
#also we can write
print(data.bfill())

   S.N     NAME      SALARY         PHONE
0    1    Bimal   50000.000  9.800000e+09
1    2   Sedeep    5000.000  9.804786e+09
2    3    samir   40000.000  4.785744e+06
3    4    kisna   50090.000  4.785744e+06
4    5    BImal   53986.875  9.571488e+06
5    6  ranjeet   36805.000  1.435723e+07
6    7   subash  100000.000  1.914298e+07
7    8    Bimal  120000.000  9.800000e+09
8    9  niramla   30000.000  9.804786e+09

   S.N     NAME      SALARY         PHONE
0    1    Bimal   50000.000  9.800000e+09
1    2   Sedeep    5000.000  9.804786e+09
2    3    samir   40000.000  4.785744e+06
3    4    kisna   50090.000  4.785744e+06
4    5    BImal   53986.875  9.571488e+06
5    6  ranjeet   36805.000  1.435723e+07
6    7   subash  100000.000  1.914298e+07
7    8    Bimal  120000.000  9.800000e+09
8    9  niramla   30000.000  9.804786e+09

C:\Users\bimal\AppData\Local\Temp\ipykernel_10588\4166030834.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='bfill'))

In [28]:
#Forwardfill
#fills the null from upper row element
print(data.fillna(method='ffill'))
print()
#also can write
print(data.ffill())

   S.N     NAME      SALARY         PHONE
0    1    Bimal   50000.000  9.800000e+09
1    2   Sedeep    5000.000  9.804786e+09
2    3    samir   40000.000  9.804786e+09
3    4    kisna   50090.000  4.785744e+06
4    5    BImal   53986.875  9.571488e+06
5    6  ranjeet   36805.000  1.435723e+07
6    7   subash  100000.000  1.914298e+07
7    8    Bimal  120000.000  9.800000e+09
8    9  niramla   30000.000  9.804786e+09

   S.N     NAME      SALARY         PHONE
0    1    Bimal   50000.000  9.800000e+09
1    2   Sedeep    5000.000  9.804786e+09
2    3    samir   40000.000  9.804786e+09
3    4    kisna   50090.000  4.785744e+06
4    5    BImal   53986.875  9.571488e+06
5    6  ranjeet   36805.000  1.435723e+07
6    7   subash  100000.000  1.914298e+07
7    8    Bimal  120000.000  9.800000e+09
8    9  niramla   30000.000  9.804786e+09

C:\Users\bimal\AppData\Local\Temp\ipykernel_10588\1021507398.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='ffill'))